<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_with(model: @point, local: true) do |f| %>
      <table class="table table-bordered table-condensed table-hover">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>拠点番号</th>
            <th>拠点名</th>
            <th>勤怠種類</th>
          </tr>
        </thead>
          <tbody>
            <% @points.each do |point| %>
              <tr>
                <% if point.id != @point.id %>
                  <td class="col-md-2"><%= link_to "修正", "#", class: "btn btn-default disabled" %></td>
                  <td class="col-md-2"><%= link_to "削除", "#", class: "btn btn-default disabled" %></td>
                  <td class="col-md-2 center"><%= point.id %></td>
                  <td class="col-md-2 center"><%= point.point_name %></td>
                  <td class="col-md-2 center"><%= point.attendance_type %></td>
                <% else %>
                  <td class="col-md-2"><%= link_to "キャンセル", points_path, class: "btn btn-default" %></td>
                  <td class="col-md-2"><%= f.submit "更新", class: "btn btn-primary" %></td>
                  <td class="col-md-2 center"><%= point.id %></td>
                  <td class="col-md-2 center"><%= f.text_field :point_name, class: "form-control" %></td>
                  <td class="col-md-2 center">
                    <%= f.select :attendance_type,
                        [["出勤", "出勤"], ["退勤", "退勤"]], {}, {class: 'form-control'} %>
                  </td>
                <% end %>
              </tr>
            <% end%>
          </tbody>
      </table>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="col-md-5 col-md-offset-2 panel">
    <button data-toggle="collapse" data-target=".collapse" class="btn btn-success btn-lg">拠点情報の追加</button>
    <div class="col-md-offset-1 panel-collapse collapse <%= @in %>">
      <%= form_with(model: @point, local: true) do |f| %>
        <div class="mrgn-top10">
          <%= render partial: 'shared/error_messages', locals: {model: @point, with_count: false}, object: @point %>
        </div>
        <%= f.label :point_name %>
        <%= f.text_field :point_name, class: "form-control" %>
        <%= f.label :attendance_type, class: "mrgn-top10" %>
        <%= f.select :attendance_type, [["出勤", "出勤"], ["退勤", "退勤"]], {include_blank: '選択してください'}, {class: 'form-control'} %>
        <%= f.submit "追加", class: "btn btn-primary btn-block mrgn-top10" %>
      <% end %>
    </div>
  </div>
</div>

    <%= link_to "拠点情報の追加", "#", class: "btn btn-success btn-lg disabled" %>
