<%= form_with(model: @point, local: true) do |f| %>
  <table class="table table-bordered table-condensed table-hover">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>拠点番号</th>
        <th>拠点名</th>
        <th>勤怠種類</th>
      </tr>
    </thead>
      <tbody>
        <% @points.each do |point| %>
          <tr>
            <% if edit && point.id == @point.id %>
              <td class="col-md-2"><%= link_to "キャンセル", points_path, class: "btn btn-primary" %></td>
              <td class="col-md-2"><%= f.submit "更新", class: "btn btn-primary" %></td>
              <td class="col-md-2 center"><%= f.number_field :id, min: 1, class: "form-control" %></td>
              <td class="col-md-2 center"><%= f.text_field :point_name, class: "form-control" %></td>
              <td class="col-md-2 center">
                <%= f.select :attendance_type,
                    [["出勤", "出勤"], ["退勤", "退勤"]], {}, {class: 'form-control'} %>
              </td>
            <% else %>
              <% disabled = edit ? "disabled" : nil %>
              <td class="col-md-2"><%= link_to "修正", edit_point_path(point), class: "btn btn-primary #{disabled}" %></td>
              <td class="col-md-2">
                <%= link_to "削除", point, method: :delete,
                  data: {confirm: "拠点\"#{point.point_name}\"を削除しますか？"}, class: "btn btn-primary #{disabled}" %></td>
              <td class="col-md-2 center"><%= point.id %></td>
              <td class="col-md-2 center"><%= point.point_name %></td>
              <td class="col-md-2 center"><%= point.attendance_type %></td>
            <% end %>
          </tr>
        <% end%>
      </tbody>
  </table>
<% end %>
