<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-bordered table-condensed table-hover">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>拠点番号</th>
          <th>拠点名</th>
          <th>勤怠種類</th>
        </tr>
      </thead>

      <tbody>
        <% @points.each do |point| %>
          <tr>
            <% if edit = edit.nil? %>
              <td><%= link_to "修正", edit_point_path(point), class: "btn btn-primary" %></td>
              <td><%= link_to "削除", point, method: :delete, class: "btn btn-danger" %></td>
              <td class="center"><%= point.id %></td>
              <td class="center"><%= point.point_name %></td>
              <td class="center"><%= point.attendance_type %></td>
            <% else %>
              <% if @epid == point.id %>
                <%= form_with(model: point, local: true) do |f| %>
                  <td><%= f.submit "更新", class: "btn btn-primary" %></td>
                  <td><%= link_to "キャンセル", points_path, class: "btn btn-default" %></td>
                  <td class="center"><%= point.id %></td>
                  <td class="center"><%= f.text_field :point_name, size: 5, class: "form-control" %></td>
                  <td class="center">
                    <%= f.select :attendance_type,
                       [["出勤", "出勤"], ["退勤", "退勤"]], {}, {class: 'form-control'} %>
                  </td>
                <% end %>
              <% else %>
                <td><%= link_to "修正", edit_point_path(point), class: "btn btn-default disabled" %></td>
                <td><%= link_to "削除", point, method: :delete, class: "btn btn-default disabled" %></td>
                <td class="center"><%= point.id %></td>
                <td class="center"><%= point.point_name %></td>
                <td class="center"><%= point.attendance_type %></td>
              <% end %>
            <% end%>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-2 panel">
    <button data-toggle="collapse" data-target=".collapse" class="btn btn-success btn-lg">拠点情報の追加</button>
    <div class="col-md-offset-1 panel-collapse collapse <%= @in %>">
      <%= form_with(model: @point, local: true) do |f| %>
        <div class="mrgn-top10">
          <% if @point.errors.any? %>
            <%= render partial: 'shared/error_messages', locals: {model: @point, with_count: false}, object: @point %>
          <% end %>
        </div>
        <%= f.label :point_name %>
        <%= f.text_field :point_name, class: "form-control" %>
        <%= f.label :attendance_type, class: "mrgn-top10" %>
        <%= f.select :attendance_type, [["出勤", "出勤"], ["退勤", "退勤"]], {include_blank: '選択してください'}, {class: 'form-control'} %>
        <%= f.submit "追加", class: "btn btn-primary btn-block mrgn-top10" %>
      <% end %>
    </div>
  </div>
</div>
