<% provide(:title, "拠点一覧") %>

<h1>拠点一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-bordered table-condensed table-hover">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>拠点番号</th>
          <th>拠点名</th>
          <th>勤怠種類</th>
        </tr>
      </thead>

      <tbody>
        <% @points.each do |point| %>
          <tr>
            <td><%= link_to "修正", point, class: "btn btn-primary" %></td>
            <td><%= link_to "削除", point, method: :delete, class: "btn btn-danger" %></td>
            <td class="center"><%= point.id %></td>
            <td class="center"><%= point.point_name %></td>
            <td class="center"><%= point.attendance_type %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="row">
      <div class="col-md-5">
        <button data-toggle="collapse" data-target=".collapse" class="btn btn-primary btn-lg">拠点情報の追加</button>
        <div class="col-md-offset-1 panel-collapse collapse">
          <%= form_with(model: @point, local: true) do |f| %>
            <%= f.label :point_name, class: "mrgn-top10" %>
            <%= f.text_field :point_name, class: "form-control" %>
            <%= f.label :attendance_type, class: "mrgn-top10" %>
            <%= f.select :attendance_type, [["出勤", "出勤"], ["退勤", "退勤"]], {include_blank: '選択してください'}, {class: 'form-control'} %>
            <%= f.submit "登録", class: "btn btn-primary btn-block mrgn-top10" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

