<% provide(:title, "All Users") %>
<% provide(:class_text, 'edit-user') %>
<% provide(:btn_text, '編集') %>


<h1>ユーザー一覧</h1>

<div class="col-md-10 col-md-offset-1 csv-import">
  <%= form_with(url: import_users_path, multipart: true) do |f| %>
    <%= f.file_field :file %>
    <%= f.submit "CSVインポート", class: "btn btn-primary col-md-3 mrgn-top10" %>
  <% end %>
</div>

<%= will_paginate class: "col-md-offset-7" %>

<div class="col-md-6 col-md-offset-2">
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each_with_index do |user, i| %>
        <tr>
          <td><%= link_to user.name, user %></td>
          <% unless login_user?(user) %>　　
            <td>
              <button data-toggle="collapse" data-target="#collapse<%= i %>" class="btn btn-default">編集</button>
              <%= link_to "削除", user, method: :delete,
                  data: { confirm: "削除してよろしいか？" }, class: "btn btn-danger" %>
              <div id="collapse<%= i %>" class="panel-collapse collapse">
                <div class="panel-body">
                  <div><%= render partial: 'form', locals: { model: user } %></div>
                </div>
              </div>
            </td>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>

<div id="edit-basic-info" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="true"></div>