<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>
        <%= link_to "←", user_path(date: @first_day.prev_month), class: "btn btn-default"%>
        <%= l(@first_day, format: :middle) %>の勤怠
        <%= link_to "→", user_path(date: @first_day.next_month), class: "btn btn-default"%>
      </td>
      <td>
        <div>指定勤務開始時間：<%= format_basic_info(@user.work_time) %></div>
        <div>指定勤務終了時間：<%= format_basic_info(@user.work_time) %></div>
      </td>
      <td colspan="2">基本時間：<%= format_basic_info(@user.basic_time) %></td>
      <td>初日：<%= l(@first_day, format: :short) %></td>
    </tr>
    <tr>
      <td><%= @user.department.present? ? @user.department : "未" %>所属</td>
      <td>氏名：<%= @user.name %></td>
      <td>コード：<%= @user.name %></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>締め：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<% if "#" %>
  <div class="btn-notification-show">
    <div><%= link_to "【 所属長承認申請のお知らせ 】", "#" %></div>
    <div><%= link_to "【 勤怠変更申請のお知らせ 】", "#" %></div>
    <div><%= link_to "【 残業申請のお知らせ 】", "#" %></div>
  </div>
<% end %>

<div class="btn-users-show">
  <%= link_to "勤怠編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-success" %>
  <%= link_to "CSV出力", "#", class: "btn btn-success" %>
  <div><%= link_to "勤怠修正ログ(承認済)", "#", class: "btn btn-success" %></div>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th rowspan="3">残業申請</th>
        <th rowspan="3">日付</th>
        <th rowspan="3">曜日</th>
        <th colspan="8">実績</th>
        <th colspan="5">所定外勤務</th>
        <tr>
          <th colspan="3">出社</th> 
          <th colspan="3">退社</th>
          <th rowspan="2">在社時間</th>
          <th rowspan="2">備考</th>
          <th colspan="2">終了予定時間</th>
          <th rowspan="2">時間外時間</th>
          <th rowspan="2">業務処理内容</th>
          <th rowspan="2">指示者確認(印)</th>
          <tr>
            <th>時</th>
            <th>分</th>
            <th></th>
            <th>時</th>
            <th>分</th>
            <th></th>
            <th>時</th>
            <th>分</th>
          </tr>
        </tr>
      </tr>
    </thead>

    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td><%= link_to "残業申請", "#", method: :patch, class: "btn btn-primary" %></td>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td><%= $days_of_the_week[day.worked_on.wday] %></td>
          <td></td>
          <td></td>
          <td>
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance"%>
            <% end %>
          </td>
          <td><%= l(day.started_at, format: :time) if day.started_at.present? %></td>
          <td><%= l(day.finished_at, format: :time) if day.finished_at.present? %></td>
          <td></td>
          <td></td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_time = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_time.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
          <td><%= day.work_overtime %></td>
          <td><%= day.overtime_instructor %></td>
          <td></td>
          <td></td>   
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="3">累計日数</td>
        <td colspan="6">総合勤務時間</td>
        <td colspan="2">累計在社時間</td>
        <td colspan="4" rowspan="2"></td>
        <td rowspan="2">
          <div>
            所属長承認　未
            <div>
              <%= form_with(model: @user, local: true) do |f| %>
                <%= f.submit "申請", class: "btn btn-block btn-primary" %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="3"><%= @attendances.count %>日</td>
        <td colspan="6"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td>
        <td colspan="2"><%= format("%.2f", @total_working_times.to_f) %></td>                
      </tr>      
    </tfoot>
  </table>
</div>
