<div id="att-edit-request" class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="mrgn-right5 close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= form_with(url: update_attendances_edit_request_user_path(@user), method: :patch, local: true) do |f| %>
        <div class="row">
          <div class="col-md-10 col-md-offset-1 center">
            <% @users.each do |user| %>
              <% requests = [] %>
              <% @requests.each do |request| %>
                <% requests << request if user.id == request.user_id %>
              <% end %>
              <% if requests.count > 0 %>
                <h2>【<%= user.name %>からの勤怠変更申請】</h2>
                <table class="table table-bordered table-condensed table-hover">
                  <thead>
                    <tr>
                      <th rowspan="3">日付</th>
                      <th rowspan="3">曜日</th>
                      <th colspan="4">変更前</th>
                      <th colspan="4">変更後</th>
                      <th rowspan="3">備考</th>
                      <th rowspan="3">指示者確認㊞</th>
                      <th rowspan="3">変更</th>
                      <th rowspan="3">勤怠を確認する</th>
                    </tr>
                    <tr>
                      <th colspan="2">出社</th>
                      <th colspan="2">退社</th>
                      <th colspan="2">出社</th>
                      <th colspan="2">退社</th>
                    </tr>
                    <tr>
                      <th>時</th>
                      <th>分</th>
                      <th>時</th>
                      <th>分</th>
                      <th>時</th>
                      <th>分</th>
                      <th>時</th>
                      <th>分</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% requests.each do |request| %>
                      <%= f.fields_for "requests[]", request do |day| %>
                        <tr>
                          <td><%= l(request.worked_on, format: :short) %></td>
                          <td><%= $days_of_the_week[request.worked_on.wday] %></td>
                          <td><%= l(request.started_at, format: :hour) if request.started_at.present? %></td>
                          <td><%= l(request.started_at, format: :minutes) if request.started_at.present? %></td>
                          <td><%= l(request.finished_at, format: :hour) if request.finished_at.present? %></td>
                          <td><%= l(request.finished_at, format: :minutes) if request.finished_at.present? %></td>
                          <td><%= l(request.new_started_at, format: :hour) if request.new_started_at.present? %></td>
                          <td><%= l(request.new_started_at, format: :minutes) if request.new_started_at.present? %></td>
                          <td><%= l(request.new_finished_at, format: :hour) if request.new_finished_at.present? %></td>
                          <td><%= l(request.new_finished_at, format: :minutes) if request.new_finished_at.present? %></td>
                          <td><%= request.note %></td>
                          <td><%= day.select :atts_edit_instructor_authentication,
                                [["なし", "なし"], ["申請中", "申請中"], ["承認", "承認"], ["否認", "否認"]], {},
                                  { class: "form-control is-form" } %></td>
                          <td><%= f.check_box "checkbox#{request.id}", class: "checkbox#{request.id}" %></td>
                          <td><%= link_to "確認", user, class: "btn btn-primary" %></td>
                          <%= day.hidden_field :started_at, value: request.new_started_at %>
                          <%= day.hidden_field :finished_at, value: request.new_finished_at %>
                          <%= day.hidden_field :new_started_at, value: nil %>
                          <%= day.hidden_field :new_finished_at, value: nil %>
                          <%= day.hidden_field :before_atts_edit_approval, value: nil %>
                          <%= day.hidden_field :after_atts_edit_approval, value: @user.superior_name %>
                        </tr>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              <% end %>
            <% end %>
            <%= f.submit "変更を送信", class: "btn btn-primary btn-lg" if requests.count > 0 %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
