<div id="log" class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1>勤怠修正ログ</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <%= link_to "リセット", attendances_log_user_path(date: @first_day), remote: true, class: "btn btn-default" %>
          <%= form_with(model: @user, url: attendances_log_user_path(date: @first_day), method: :get, local: true) do |f| %>
            <% @attendances.each do |day| %>
              <%= f.fields_for "attendances[]", day do |attendance| %>
                <%= attendance.text_field :worked_on %>
                <%= attendance.month_field :worked_on %>
                <%= attendance.month_field :worked_on %>
                <%= attendance.month_field :worked_on %>
              <% end %>
            <% end %>
          <% end %>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>日付</th>
                <th>変更前出社時間</th>
                <th>変更前退社時間</th>
                <th>変更後出社時間</th>
                <th>変更後退社時間</th>
                <th>指示者</th>
                <th>承認日</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<% if false %>
  , discard_year: true, discard_month: true, discard_day: true, default: @first_day, class: "btn btn-default" %>
  , disabled: true %>
  , discard_year: true, discard_month: true, discard_day: true, default: @first_day %>
  , disabled: true %>
<% end %>