<div id="log" class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1>勤怠修正ログ</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <%= link_to "リセット", attendances_log_user_path(date: @first_day), remote: true, class: "btn btn-default" %>

          <%= form_with model: @user, method: :get, local: true do |f| %>
            <%= f.fields_for url: attendances_log_user_path(date: @wanted_day), method: :get do |form| %>
              <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspop="true">
                年 <b class="caret"></b></button>
                <ul class="dropdown">
                  <li><%= form.submit "2020" %></li>
                  <li><%= form.submit "2020" %></li>
                  <li><%= form.submit "2020" %></li>
                  <li><%= form.submit "2020" %></li>
                  <li><%= form.submit "2020" %></li>
                </ul>
              
            <%= f.fields_for url: attendances_log_user_path(date: @wanted_day), method: :get do |form| %>
            <%= f.fields_for url: attendances_log_user_path(date: @wanted_day), method: :get do |form| %>

          <div class="input-group col-md-3">
            <span class="input-group-btn">
              <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspop="true">
                年 <b class="caret"></b></button>
              <ul class="dropdown-menu">
                <li><%= link_to @first_day.year, "#", class: "disabled" %></li>
                <li class="divider"></li>
                <% 5.downto(0) do |y| %>
                  <li><%= link_to Date.current.ago(y.years).year,
                      attendances_log_user_path(date: Date.current.ago(y.years).beginning_of_month), remote: true %></li>
                <% end %>
              </ul>
            </span>
            <input class="form-control" disabled="true" placeholder="<%= @first_day.year %>" arai-label="...">
          </div>

          <div class="input-group col-md-3">
            <span class="input-group-btn"><div>
              <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">月 <b class="caret"></b></button>
              <ul class="dropdown-menu">
                <li><%= link_to @first_day.month, "#", class: "disabled" %></li>
                <li class="divider"></li>
                <% if @first_day.year == Date.current.year %>
                  <% for m in 1..Date.current.prev_month.month do %>
                    <% mth = Date.current.month - m %>
                    <li><%= link_to m,
                        attendances_log_user_path(date: Date.current.ago(mth.months).beginning_of_month), remote: true %></li>
                  <% end %>
                <% else %>
                  <% for m in 1..12 do %>
                    <li><%= link_to m,
                        attendances_log_user_path(date: Date.current.ago(m.months)), remote: true %></li>
                  <% end %>
                <% end %>
              </ul>
            </div></span>
            <input class="form-control" disabled="true" placeholder="<%= @first_day.month %>">
          </div>

          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>日付</th>
                <th>変更前出社時間</th>
                <th>変更前退社時間</th>
                <th>変更後出社時間</th>
                <th>変更後退社時間</th>
                <th>指示者</th>
                <th>承認日</th>
              </tr>
            </thead>
            <tbody>
              <% @attendances.each do |day| %>
                <tr>
                  <th><%= day.worked_on %></th>
                  <th><%= day.started_at %></th>
                  <th><%= day.finished_at %></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<% if false %>
  , discard_year: true, discard_month: true, discard_day: true, default: @first_day, class: "btn btn-default" %>
  , disabled: true %>
  , discard_year: true, discard_month: true, discard_day: true, default: @first_day %>
  , disabled: true %>
<% end %>