<div id="log" class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1>勤怠修正ログ</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <%= link_to "リセット",
              log_user_path(date: @default_day, default_day: @default_day), remote: true, class: "btn btn-default" %>

          <div class="input-group col-md-3">
            <span class="input-group-btn">
              <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                年 <b class="caret"></b></button>
              <ul class="dropdown-menu">
                <li><%= link_to @first_day.year, "#", class: "disabled" %></li>
                <li class="divider"></li>
                <% 5.downto(0) do |y| %>
                  <% get_day = "#{@default_day.ago(y.years).year}-#{@first_day.month}-01".to_date %>
                  <li><%= link_to get_day.year,
                          log_user_path(date: get_day, default_day: @default_day),
                          remote: true %></li>
                <% end %>
              </ul>
            </span>
            <input class="form-control" disabled="true" placeholder="<%= @first_day.year %>">
          </div>

          <div class="input-group col-md-3">
            <span class="input-group-btn"><div>
              <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">月 <b class="caret"></b></button>
              <ul class="dropdown-menu">
                <li><%= link_to @first_day.month, "#", class: "disabled" %></li>
                <li class="divider"></li>
                <% for m in 1..12 do %>
                  <% get_day = "#{@first_day.year}-#{m}-1".to_date %>
                  <li><%= link_to m,
                          log_user_path(date: get_day, default_day: @default_day), remote: true %></li>
                  <% break if get_day == Date.current.beginning_of_month %>
                <% end %>
              </ul>
            </div></span>
            <input class="form-control" disabled="true" placeholder="<%= @first_day.month %>">
          </div>

          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>日付</th>
                <th>変更前出社時間</th>
                <th>変更前退社時間</th>
                <th>変更後出社時間</th>
                <th>変更後退社時間</th>
                <th>指示者</th>
                <th>承認日</th>
              </tr>
            </thead>
            <tbody>
              <% @attendances.each do |day| %>
                <tr>
                  <th><%= day.worked_on %></th>
                  <th><%= l(day.started_at, format: :time) %></th>
                  <th><%= l(day.finished_at, format: :time) %></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


