<div id="log" class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1>勤怠修正ログ</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div><%= link_to "リセット", attendances_log_user_path(date: @first_day), remote: true, class: "btn btn-default" %></div>
          <div class="inline">
            <button id="yearDrop" class="btn btn-default dropdown-toggle" data-toggle="dropdown">年 <b class="caret"></b></button>
            <input class="form-control" placeholder="<%= @first_day.year %>">
          </div>            
          <div class="dropdown-menu" aria-lablledby="yearDrop">
            <a class="dropdown-item" href="#"><%= @first_day.year %></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
          </div>
          <div>
            <div class="input-group">
              <button id="monthDrop" class="btn btn-default btn-group dropdown-toggle" data-toggle="dropdown">月 <b class="caret"></b></button>
              <button class="btn btn-default disabled"><%= @first_day.month %></button>
            </div>
            <div class="dropdown-menu" aria-lablledby="monthDrop">
              <a href="#"><%= @first_day.month %></a>
              <a href="#"></a>
              <a href="#"></a>
              <a href="#"></a>
            </div>
          </div>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>日付</th>
                <th>変更前出社時間</th>
                <th>変更前退社時間</th>
                <th>変更後出社時間</th>
                <th>変更後退社時間</th>
                <th>指示者</th>
                <th>承認日</th>
              </tr>
            </thead>
            <tbody>
              <% @attendances.each do |day| %>
                <tr>
                  <th><%= day.worked_on %></th>
                  <th><%= day.started_at %></th>
                  <th><%= day.finished_at %></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<% if false %>
  , discard_year: true, discard_month: true, discard_day: true, default: @first_day, class: "btn btn-default" %>
  , disabled: true %>
  , discard_year: true, discard_month: true, discard_day: true, default: @first_day %>
  , disabled: true %>
<% end %>