<div id="superior-request" class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="mrgn-right5 close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= form_with(url: attendances_update_superior_request_user_path(@user), method: :patch, local: true) do |f| %>
        <div class="row">
          <div class="col-md-10 col-md-offset-1 center">
            <% i = 0 %>
            <% @users.each do |user| %>
              <% attendances = [] %>
              <% @request_attendances.each do |attendance| %>
                <% attendances << attendance if user.id == attendance.user_id %>
              <% end %>
              <% if attendances.count > 0 %>
                <h2>【<%= user.name %>からの勤怠申請】</h2>
                <table class="table table-bordered table-condensed table-hover">
                  <thead>
                    <tr>
                      <th>月</th>
                      <th>指示者確認㊞</th>
                      <th>変更</th>
                      <th>勤怠を確認する</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% attendances.each do |attendance| %>
                      <%= f.fields_for "attendances[]", attendance do |att| %>
                        <% i += 1 %>
                        <tr>
                          <td><%= attendance.worked_on.month %>月</td>
                          <td><%= att.select :instructor_authentication,
                                [["なし", "なし"], ["申請中", "申請中"], ["承認", "承認"], ["否認", "否認"]], {},
                                  { class: "form-control is-form-#{i}" } %></td>
                          <td><%= f.check_box "checkbox#{i}", class: "checkbox-#{i}" %></td>
                          <td><%= link_to "確認", user, class: "btn btn-primary" %></td>
                        </tr>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              <% end %>
            <% end %>
            <%= f.submit "変更を送信", class: "btn btn-primary btn-lg" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


