<div id="superior-request" class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="mrgn-right5 close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 center">
          <% i = 0 %>
          <% @users.each do |user| %>
            <% attendances = [] %>
            <% @request_attendances.each do |attendance| %>
              <% attendances << attendance if user.id == attendance.user_id %>
            <% end %>
            <% if attendances.count > 0 %>
              <%= form_with(model: user, local: true) do |f| %>
                <%= f.fields_for :attendance do |a| %>
                  <h2>【<%= user.name %>からの勤怠申請】</h2>
                  <table class="table table-bordered table-condensed table-hover">
                    <thead>
                      <tr>
                        <th>月</th>
                        <th>指示者確認(印)</th>
                        <th>変更</th>
                        <th>勤怠を確認する</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% attendances.each do |attendance| %>
                        <%= i += 1 %>
                        <tr>
                          <td><%= attendance.worked_on.month %>月</td>
                          <td><%= f.select :instructor_authentication,
                                [["なし", "なし"], ["申請中", "申請中"], ["承認", "承認"], ["否認", "否認"]], {},
                                 {class: "form-control is-form-#{i}", disabled: "true" } %></td>
                            <td><%= f.check_box :is_form, class: "checkbox-#{i}" %></td>
                          <td><%= link_to "確認", user, class: "btn btn-primary" %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


