<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Attendance App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム", root_path %></li>
        <% if logged_in? %>
          <% if @login_user.admin? %>
            <li><%= link_to "社員一覧", users_path %></li>
            <li><%= link_to "出勤社員一覧", index_working_users_path %></li>
            <li><%= link_to "拠点情報の編集", points_path %></li>
            <li><%= link_to "基本情報の編集", edit_basic_info_path %></li>
          <% end %>
          <li class="dropdown">
            <a href="#", class="dropdown-toggle" data-toggle="dropdown">
              アカウント <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "勤怠", login_user unless @login_user.admin? %></li>
              <li><%= link_to "設定", edit_user_path(login_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
